.container {
  display: flex;
  color: #a2a2a2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4vh;
  font-size: 20px;
  line-height: 3vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.heading {
  margin: 0;
  margin-bottom: 2vh;
  display: flex;
  justify-content: center;
  color: aqua;
  text-decoration: underline;
  background-color: rgb(255, 255, 255, 0.1);
  clip-path: polygon(
    25% 6.7%,
    75% 6.7%,
    100% 50%,
    75% 93.3%,
    25% 93.3%,
    0% 50%
  );
}

.skill_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.skill_container h3 {
  grid-column: span 3;
}
