.container {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #fff;
  width: 100%;
  max-width: 200px;
  margin: 20px 0;
}

.percentage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  height: 100%;
  font-weight: bold;
  color: #ffff00;
}

.label {
  font-size: 18px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.background {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid #fff;
}

.icon {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  background: rgb(255, 255, 255, 0.1);
  border-radius: 10px;
}
